.Sidebar {
  position: absolute;
}

.OpenButton {
  margin: 20px;
  padding: 12px;
  background-color: #6cd4ff;
  border-radius: 7px;
  border: none;
  font-size: 18px;
}

.OpenButton:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.SidebarOpened {
  margin-top: 10px;
  background-color: #83858c;
  z-index: 2;
  padding-left: 20px;
  margin-left: -10px;
  border-radius: 10px;
  border: solid 2px #cfbff7;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  max-height: 88vh;
}

.ChatsList {
  margin-right: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
  height: 70vh;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.HeaderChatSidebar {
  display: flex;
  justify-content: space-between;
}

.NewChat {
  background-color: #cfbff7;
  padding: 5px;
  border-radius: 3px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: rgb(46, 46, 46);
  white-space: nowrap;
  padding-right: 10px;
  /* border: solid 1.5px #cfbff7; */
}

.NewChat:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.LogOutButton {
  background-color: #cfbff7;
  padding: 5px;
  border-radius: 3px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: rgb(46, 46, 46);
  white-space: nowrap;
  padding-right: 10px;
  border: none;
  font-size: 15px;
  font-weight: 900;
}

.LogOutButton:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.Invite {
  background-color: #cfbff7;
  padding: 5px;
  border-radius: 3px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: rgb(46, 46, 46);
  white-space: nowrap;
  padding-right: 10px;
  /* border: solid 1.5px #cfbff7; */
}

.Invite:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.ChatInviteAcceptDecline {
  width: 50%;
  background-color: #cfbff7;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 250ms;
}

.ChatInviteAcceptDecline:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#addPersonInput {
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #6cd4ff;
  border: none;
}

#addPersonSubmit {
  padding: 10px;
  margin-right: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #cbaebb;
  border: none;
}

#addPersonSubmit:hover {
  cursor: pointer;
}

#addPersonForm {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.modelSelect {
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  background-color: #6cd4ff;
  border: none;
  margin-top: 20px;
}